<header class="mb-6">
  <h1 class="text-xl text-center font-semibold">New Meal</h1>
  <p class="text-sm text-grey-dark text-center">
    <%= time_tag @meal.eaten_on %> - <%= @meal.moment.humanize %>
  </p>
</header>

<%= render 'form', meal: @meal %>

