<header class="mb-6">
  <h1 class="text-xl text-center font-semibold">
    <%= t('.title') %>
  </h1>
  <p class="text-sm text-grey-dark text-center">
    <%= time_tag @meal.eaten_on %> - <%= Meal.human_attribute_name("moment.#{@meal.moment}") %>
  </p>
</header>

<%= render 'form', meal: @meal %>

